<div class="flex justify-between bg-white items-center w-full h-16 shadow-md">

    <a href="/home">
        <img class="p-4 h-20" src="../../assets/images/mercado-de-acoes.png">
    </a>

    <ul class="flex gap-2 items-center">

        <li class="text-gray-800 hover:bg-indigo-100 p-5 cursor-pointer" routerLink="/details">
            <span class="capitalize">detalhes</span>
        </li>

        <li class="text-gray-800 hover:bg-indigo-100 p-5 cursor-pointer" routerLink="/calendar">
            <span class="capitalize">calendário econômico</span>
        </li>

    </ul>

</div>